*{
    margin:0;
    padding:0;
}
h{
    font-size: 9vmin;
}
body{
    background-color:#9A7AA0;
    text-align: center;
    
}
.container{
    height: 70vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap :1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow:  0 0 1rem rgba(0, 0, 0,0.2);
    font-size:8vmin;
    color:rgb(103, 118, 199);
    background-color: cornsilk;
     
}
#reset{
    color :rgb(236, 236, 216);
    background-color: rgb(118, 10, 177);
    padding:1rem;
    border-radius: 1rem;
    border:none;
    
}
#new-btn{
    color :rgb(236, 236, 216);
    background-color: rgb(118, 10, 177);
    padding:1rem;
    border-radius: 1rem;
    border:none;
    font-size: 1.25rem;

}
#msg{
    color: rgb(217, 238, 112);
    font-size:6vmin;
}
.msg-con{
    height:100vmin;
    display: flex;
    justify-content: cneter;
    align-items: center;
    flex-direction: column;
    gap:4rem;

}
.hide{
    display:none;
}
.pink{
    color:rgb(161, 3, 3);
}
.green{
    color:rgb(197, 240, 25);
}